<div >
<div>
  <button class="btn-class" [routerLink]="'call-center'">CALL CENTER</button>
  <button class="btn-class" [routerLink]="'contract-adder'">CONTRACT ADDER</button>
  <button class="btn-class" [routerLink]="'contract-view'">VIEW CONTRACTS</button>
  
</div>
<div>
    <button class="btn-class" [routerLink]="'contract-update'">UPDATE CONTRACTS</button>
    <button class="btn-class" [routerLink]="'contract-delete'">DELETE CONTRACTS</button>
    <button class="btn-class">ADD USERS</button>
</div>
</div>
